.movieReviewsContainer {
  border: 1px solid #d54a04;
  border-radius: 15px;
  padding: 15px;
}

.movieReviewsItem {
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.movieReviewsAuthor {
  color: #f07c4b;
  margin-bottom: 8px;
  padding-left: 10px;
}

.movieReviewsContent {
  color: #a89686ec;
  margin-bottom: 5px;
}

.movieReviewsMessage {
  text-align: center;
  color: #f07c4b;
}
