.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.movieListItem {
  width: calc((100% - 70px) / 3);
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  -webkit-box-shadow: 5px 5px 5px -1px rgba(239, 198, 139, 0.6);
  -moz-box-shadow: 5px 5px 5px -1px rgba(239, 198, 139, 0.6);
  box-shadow: 5px 5px 5px -1px rgba(239, 198, 139, 0.6);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px -3px rgba(239, 198, 139, 0.8);
  }
}
